---
import { Image } from "astro:assets";
import logoImg from "@/assets/GWS-animated.png";

interface Props {
  class?: string;
  className?: string;
  badgeClassName?: string;
  imageClassName?: string;
  ariaHidden?: boolean;
}

const {
  class: classProp = "",
  className = "",
  badgeClassName = "",
  imageClassName = "",
  ariaHidden = true,
} = Astro.props as Props;

const rootClassName = [classProp, className].filter(Boolean).join(" ");
---

<div class={rootClassName} aria-hidden={ariaHidden ? "true" : undefined}>
  <div class={badgeClassName}>
    <Image
      src={logoImg}
      alt=""
      widths={[64, 96, 128]}
      sizes="(min-width: 1024px) 72px, 56px"
      class={`light:invert ${imageClassName}`}
    />
  </div>
</div>
