---
import BaseLayout from "./BaseLayout.astro";
import Header from "./sections/Header.astro";

const { ...seoProps } = Astro.props;
---

<BaseLayout {...seoProps} bodyClass="antialiased min-h-screen flex flex-col" mainClass="relative flex-1" noChat>
  <Fragment slot="before-main">
    <div aria-hidden="true" class="site-fixed-bg fixed inset-0 pointer-events-none"></div>
    <Header />
  </Fragment>

  <slot />
</BaseLayout>
